<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.share.order.service.dao.ReturnGoodsEntityMapper">
  <resultMap id="BaseResultMap" type="com.mk.share.order.service.entity.ReturnGoodsEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="RETURN_GOODS_CODE" jdbcType="VARCHAR" property="returnGoodsCode" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="RETURN_REASON" jdbcType="VARCHAR" property="returnReason" />
    <result column="ORDER_BUSINESS_TYPE" jdbcType="VARCHAR" property="orderBusinessType" />
    <result column="CHANNEL_TYPE" jdbcType="VARCHAR" property="channelType" />
    <result column="MEMBER_ID" jdbcType="BIGINT" property="memberId" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="SUPPLIER_CODE" jdbcType="VARCHAR" property="supplierCode" />
    <result column="SUPPLIER_NAME" jdbcType="VARCHAR" property="supplierName" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="CREATE_BY" jdbcType="BIGINT" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RETURN_GOODS_CODE, ORDER_CODE, RETURN_REASON, ORDER_BUSINESS_TYPE, CHANNEL_TYPE, 
    MEMBER_ID, MEMBER_NAME, SUPPLIER_CODE, SUPPLIER_NAME, CREATE_DATE, REMARK, MOBILE, 
    CREATE_BY, UPDATE_TIME, UPDATE_BY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_return_goods
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_return_goods
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.share.order.service.entity.ReturnGoodsEntity">
    insert into t_return_goods (ID, RETURN_GOODS_CODE, ORDER_CODE, 
      RETURN_REASON, ORDER_BUSINESS_TYPE, CHANNEL_TYPE, 
      MEMBER_ID, MEMBER_NAME, SUPPLIER_CODE, 
      SUPPLIER_NAME, CREATE_DATE, REMARK, 
      MOBILE, CREATE_BY, UPDATE_TIME, 
      UPDATE_BY)
    values (#{id,jdbcType=BIGINT}, #{returnGoodsCode,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, 
      #{returnReason,jdbcType=VARCHAR}, #{orderBusinessType,jdbcType=VARCHAR}, #{channelType,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=BIGINT}, #{memberName,jdbcType=VARCHAR}, #{supplierCode,jdbcType=VARCHAR}, 
      #{supplierName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.share.order.service.entity.ReturnGoodsEntity">
    insert into t_return_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="returnGoodsCode != null">
        RETURN_GOODS_CODE,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="returnReason != null">
        RETURN_REASON,
      </if>
      <if test="orderBusinessType != null">
        ORDER_BUSINESS_TYPE,
      </if>
      <if test="channelType != null">
        CHANNEL_TYPE,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="memberName != null">
        MEMBER_NAME,
      </if>
      <if test="supplierCode != null">
        SUPPLIER_CODE,
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateBy != null">
        UPDATE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="returnGoodsCode != null">
        #{returnGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="returnReason != null">
        #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="orderBusinessType != null">
        #{orderBusinessType,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null">
        #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.share.order.service.entity.ReturnGoodsEntity">
    update t_return_goods
    <set>
      <if test="returnGoodsCode != null">
        RETURN_GOODS_CODE = #{returnGoodsCode,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="returnReason != null">
        RETURN_REASON = #{returnReason,jdbcType=VARCHAR},
      </if>
      <if test="orderBusinessType != null">
        ORDER_BUSINESS_TYPE = #{orderBusinessType,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null">
        CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="memberName != null">
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="supplierCode != null">
        SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.share.order.service.entity.ReturnGoodsEntity">
    update t_return_goods
    set RETURN_GOODS_CODE = #{returnGoodsCode,jdbcType=VARCHAR},
      ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      RETURN_REASON = #{returnReason,jdbcType=VARCHAR},
      ORDER_BUSINESS_TYPE = #{orderBusinessType,jdbcType=VARCHAR},
      CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=BIGINT},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      SUPPLIER_CODE = #{supplierCode,jdbcType=VARCHAR},
      SUPPLIER_NAME = #{supplierName,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=BIGINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>