<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.share.order.service.dao.RewardInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mk.share.order.service.entity.RewardInfo" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="REWARD_ORDER_TYPE" property="rewardOrderType" jdbcType="INTEGER" />
    <result column="REWARD_TYPE" property="rewardType" jdbcType="INTEGER" />
    <result column="BUSINESS_CODE" property="businessCode" jdbcType="VARCHAR" />
    <result column="REWARD_AMOUNT" property="rewardAmount" jdbcType="DECIMAL" />
    <result column="REWARD_CODE" property="rewardCode" jdbcType="VARCHAR" />
    <result column="REWARD_NAME" property="rewardName" jdbcType="VARCHAR" />
    <result column="REWARD_STATUS" property="rewardStatus" jdbcType="INTEGER" />
    <result column="CONFIRMED_TIME" property="confirmedTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="REWARD_DIRECTION" property="rewardDirection" jdbcType="INTEGER" />
    <result column="CHANNEL_NO" property="channelNo" jdbcType="VARCHAR" />
    <result column="CHANNEL_SOURCE" property="channelSource" jdbcType="VARCHAR" />
    <result column="TRANSACTION_NO" property="transactionNo" jdbcType="VARCHAR" />
    <result column="MEMBER_ID" property="memberId" jdbcType="BIGINT" />
    <result column="BATCH_ID" property="batchId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, REWARD_ORDER_TYPE, REWARD_TYPE, BUSINESS_CODE, REWARD_AMOUNT, REWARD_CODE, REWARD_NAME, 
    REWARD_STATUS, CONFIRMED_TIME, CREATE_TIME, UPDATE_TIME, REWARD_DIRECTION, CHANNEL_NO, 
    CHANNEL_SOURCE, TRANSACTION_NO, MEMBER_ID, BATCH_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ssc_reward_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ssc_reward_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.share.order.service.entity.RewardInfo" >
    insert into t_ssc_reward_info (ID, REWARD_ORDER_TYPE, REWARD_TYPE, 
      BUSINESS_CODE, REWARD_AMOUNT, REWARD_CODE, 
      REWARD_NAME, REWARD_STATUS, CONFIRMED_TIME, 
      CREATE_TIME, UPDATE_TIME, REWARD_DIRECTION, 
      CHANNEL_NO, CHANNEL_SOURCE, TRANSACTION_NO, 
      MEMBER_ID, BATCH_ID)
    values (#{id,jdbcType=BIGINT}, #{rewardOrderType,jdbcType=INTEGER}, #{rewardType,jdbcType=INTEGER}, 
      #{businessCode,jdbcType=VARCHAR}, #{rewardAmount,jdbcType=DECIMAL}, #{rewardCode,jdbcType=VARCHAR}, 
      #{rewardName,jdbcType=VARCHAR}, #{rewardStatus,jdbcType=INTEGER}, #{confirmedTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{rewardDirection,jdbcType=INTEGER}, 
      #{channelNo,jdbcType=VARCHAR}, #{channelSource,jdbcType=VARCHAR}, #{transactionNo,jdbcType=VARCHAR}, 
      #{memberId,jdbcType=BIGINT}, #{batchId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.share.order.service.entity.RewardInfo" >
    insert into t_ssc_reward_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="rewardOrderType != null" >
        REWARD_ORDER_TYPE,
      </if>
      <if test="rewardType != null" >
        REWARD_TYPE,
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE,
      </if>
      <if test="rewardAmount != null" >
        REWARD_AMOUNT,
      </if>
      <if test="rewardCode != null" >
        REWARD_CODE,
      </if>
      <if test="rewardName != null" >
        REWARD_NAME,
      </if>
      <if test="rewardStatus != null" >
        REWARD_STATUS,
      </if>
      <if test="confirmedTime != null" >
        CONFIRMED_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="rewardDirection != null" >
        REWARD_DIRECTION,
      </if>
      <if test="channelNo != null" >
        CHANNEL_NO,
      </if>
      <if test="channelSource != null" >
        CHANNEL_SOURCE,
      </if>
      <if test="transactionNo != null" >
        TRANSACTION_NO,
      </if>
      <if test="memberId != null" >
        MEMBER_ID,
      </if>
      <if test="batchId != null" >
        BATCH_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rewardOrderType != null" >
        #{rewardOrderType,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        #{rewardType,jdbcType=INTEGER},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="rewardAmount != null" >
        #{rewardAmount,jdbcType=DECIMAL},
      </if>
      <if test="rewardCode != null" >
        #{rewardCode,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null" >
        #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardStatus != null" >
        #{rewardStatus,jdbcType=INTEGER},
      </if>
      <if test="confirmedTime != null" >
        #{confirmedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardDirection != null" >
        #{rewardDirection,jdbcType=INTEGER},
      </if>
      <if test="channelNo != null" >
        #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="channelSource != null" >
        #{channelSource,jdbcType=VARCHAR},
      </if>
      <if test="transactionNo != null" >
        #{transactionNo,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.share.order.service.entity.RewardInfo" >
    update t_ssc_reward_info
    <set >
      <if test="rewardOrderType != null" >
        REWARD_ORDER_TYPE = #{rewardOrderType,jdbcType=INTEGER},
      </if>
      <if test="rewardType != null" >
        REWARD_TYPE = #{rewardType,jdbcType=INTEGER},
      </if>
      <if test="businessCode != null" >
        BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="rewardAmount != null" >
        REWARD_AMOUNT = #{rewardAmount,jdbcType=DECIMAL},
      </if>
      <if test="rewardCode != null" >
        REWARD_CODE = #{rewardCode,jdbcType=VARCHAR},
      </if>
      <if test="rewardName != null" >
        REWARD_NAME = #{rewardName,jdbcType=VARCHAR},
      </if>
      <if test="rewardStatus != null" >
        REWARD_STATUS = #{rewardStatus,jdbcType=INTEGER},
      </if>
      <if test="confirmedTime != null" >
        CONFIRMED_TIME = #{confirmedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rewardDirection != null" >
        REWARD_DIRECTION = #{rewardDirection,jdbcType=INTEGER},
      </if>
      <if test="channelNo != null" >
        CHANNEL_NO = #{channelNo,jdbcType=VARCHAR},
      </if>
      <if test="channelSource != null" >
        CHANNEL_SOURCE = #{channelSource,jdbcType=VARCHAR},
      </if>
      <if test="transactionNo != null" >
        TRANSACTION_NO = #{transactionNo,jdbcType=VARCHAR},
      </if>
      <if test="memberId != null" >
        MEMBER_ID = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="batchId != null" >
        BATCH_ID = #{batchId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.share.order.service.entity.RewardInfo" >
    update t_ssc_reward_info
    set REWARD_ORDER_TYPE = #{rewardOrderType,jdbcType=INTEGER},
      REWARD_TYPE = #{rewardType,jdbcType=INTEGER},
      BUSINESS_CODE = #{businessCode,jdbcType=VARCHAR},
      REWARD_AMOUNT = #{rewardAmount,jdbcType=DECIMAL},
      REWARD_CODE = #{rewardCode,jdbcType=VARCHAR},
      REWARD_NAME = #{rewardName,jdbcType=VARCHAR},
      REWARD_STATUS = #{rewardStatus,jdbcType=INTEGER},
      CONFIRMED_TIME = #{confirmedTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      REWARD_DIRECTION = #{rewardDirection,jdbcType=INTEGER},
      CHANNEL_NO = #{channelNo,jdbcType=VARCHAR},
      CHANNEL_SOURCE = #{channelSource,jdbcType=VARCHAR},
      TRANSACTION_NO = #{transactionNo,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=BIGINT},
      BATCH_ID = #{batchId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>