<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.share.order.service.dao.RefundCertEntityMapper">
  <resultMap id="BaseResultMap" type="com.mk.share.order.service.entity.RefundCertEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="BATCH_ID" jdbcType="VARCHAR" property="batchId" />
    <result column="CREATE_USERID" jdbcType="VARCHAR" property="createUserid" />
    <result column="ORDER_ID" jdbcType="BIGINT" property="orderId" />
    <result column="RELATE_ORDER_ID" jdbcType="VARCHAR" property="relateOrderId" />
    <result column="ORDER_TYPE" jdbcType="INTEGER" property="orderType" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="MEMBER_NAME" jdbcType="VARCHAR" property="memberName" />
    <result column="CUST_EMAIL" jdbcType="VARCHAR" property="custEmail" />
    <result column="MOBILE_NO" jdbcType="VARCHAR" property="mobileNo" />
    <result column="TRADE_EXPIRED" jdbcType="INTEGER" property="tradeExpired" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="BANK_ACCOUNT" jdbcType="VARCHAR" property="bankAccount" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="MDSE_NAME" jdbcType="VARCHAR" property="mdseName" />
    <result column="SUPPLIER_ID" jdbcType="VARCHAR" property="supplierId" />
    <result column="SUPPLIER_TYPE" jdbcType="VARCHAR" property="supplierType" />
    <result column="REFUND_POINT_AMOUNT" jdbcType="DECIMAL" property="refundPointAmount" />
    <result column="REFUND_CASH_AMOUNT" jdbcType="DECIMAL" property="refundCashAmount" />
    <result column="BANK_USER_NAME" jdbcType="VARCHAR" property="bankUserName" />
    <result column="ERROR_CODE" jdbcType="VARCHAR" property="errorCode" />
    <result column="ERROR_MSG" jdbcType="VARCHAR" property="errorMsg" />
    <result column="ERROR_TIME" jdbcType="TIMESTAMP" property="errorTime" />
    <result column="REFUND_MSG" jdbcType="VARCHAR" property="refundMsg" />
    <result column="REFUND_PROCESS_TIME" jdbcType="TIMESTAMP" property="refundProcessTime" />
    <result column="POINT_AMOUNT" jdbcType="DECIMAL" property="pointAmount" />
    <result column="CASH_AMOUNT" jdbcType="DECIMAL" property="cashAmount" />
    <result column="REFUND_LAUNCH_TIME" jdbcType="TIMESTAMP" property="refundLaunchTime" />
    <result column="SPU_CODE" jdbcType="VARCHAR" property="spuCode" />
    <result column="RETURN_GOODS_ITEM_ID" jdbcType="BIGINT" property="returnGoodsItemId" />
    <result column="SOUCE_TYPE" jdbcType="INTEGER" property="souceType" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="SKU_CODE" jdbcType="VARCHAR" property="skuCode" />
    <result column="ORDER_ITEM_ID" jdbcType="VARCHAR" property="orderItemId" />
    <result column="COUPON_CODE" jdbcType="VARCHAR" property="couponCode" />
    <result column="PAYMENT_NO" jdbcType="VARCHAR" property="paymentNo" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, BATCH_ID, CREATE_USERID, ORDER_ID, RELATE_ORDER_ID, ORDER_TYPE, STATUS, MEMBER_ID, 
    MEMBER_NAME, CUST_EMAIL, MOBILE_NO, TRADE_EXPIRED, BANK_NAME, BANK_ACCOUNT, PROVINCE_CODE, 
    CITY_CODE, MDSE_NAME, SUPPLIER_ID, SUPPLIER_TYPE, REFUND_POINT_AMOUNT, REFUND_CASH_AMOUNT, 
    BANK_USER_NAME, ERROR_CODE, ERROR_MSG, ERROR_TIME, REFUND_MSG, REFUND_PROCESS_TIME, 
    POINT_AMOUNT, CASH_AMOUNT, REFUND_LAUNCH_TIME, SPU_CODE, RETURN_GOODS_ITEM_ID, SOUCE_TYPE, 
    ORDER_CODE, SKU_CODE, ORDER_ITEM_ID, COUPON_CODE, PAYMENT_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_refund_cert
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_refund_cert
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.share.order.service.entity.RefundCertEntity">
    insert into t_refund_cert (ID, BATCH_ID, CREATE_USERID, 
      ORDER_ID, RELATE_ORDER_ID, ORDER_TYPE, 
      STATUS, MEMBER_ID, MEMBER_NAME, 
      CUST_EMAIL, MOBILE_NO, TRADE_EXPIRED, 
      BANK_NAME, BANK_ACCOUNT, PROVINCE_CODE, 
      CITY_CODE, MDSE_NAME, SUPPLIER_ID, 
      SUPPLIER_TYPE, REFUND_POINT_AMOUNT, REFUND_CASH_AMOUNT, 
      BANK_USER_NAME, ERROR_CODE, ERROR_MSG, 
      ERROR_TIME, REFUND_MSG, REFUND_PROCESS_TIME, 
      POINT_AMOUNT, CASH_AMOUNT, REFUND_LAUNCH_TIME, 
      SPU_CODE, RETURN_GOODS_ITEM_ID, SOUCE_TYPE, 
      ORDER_CODE, SKU_CODE, ORDER_ITEM_ID, 
      COUPON_CODE, PAYMENT_NO)
    values (#{id,jdbcType=BIGINT}, #{batchId,jdbcType=VARCHAR}, #{createUserid,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=BIGINT}, #{relateOrderId,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{memberId,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, 
      #{custEmail,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR}, #{tradeExpired,jdbcType=INTEGER}, 
      #{bankName,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{mdseName,jdbcType=VARCHAR}, #{supplierId,jdbcType=VARCHAR}, 
      #{supplierType,jdbcType=VARCHAR}, #{refundPointAmount,jdbcType=DECIMAL}, #{refundCashAmount,jdbcType=DECIMAL}, 
      #{bankUserName,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, 
      #{errorTime,jdbcType=TIMESTAMP}, #{refundMsg,jdbcType=VARCHAR}, #{refundProcessTime,jdbcType=TIMESTAMP}, 
      #{pointAmount,jdbcType=DECIMAL}, #{cashAmount,jdbcType=DECIMAL}, #{refundLaunchTime,jdbcType=TIMESTAMP}, 
      #{spuCode,jdbcType=VARCHAR}, #{returnGoodsItemId,jdbcType=BIGINT}, #{souceType,jdbcType=INTEGER}, 
      #{orderCode,jdbcType=VARCHAR}, #{skuCode,jdbcType=VARCHAR}, #{orderItemId,jdbcType=VARCHAR}, 
      #{couponCode,jdbcType=VARCHAR}, #{paymentNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.share.order.service.entity.RefundCertEntity">
    insert into t_refund_cert
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="batchId != null">
        BATCH_ID,
      </if>
      <if test="createUserid != null">
        CREATE_USERID,
      </if>
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="relateOrderId != null">
        RELATE_ORDER_ID,
      </if>
      <if test="orderType != null">
        ORDER_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="memberId != null">
        MEMBER_ID,
      </if>
      <if test="memberName != null">
        MEMBER_NAME,
      </if>
      <if test="custEmail != null">
        CUST_EMAIL,
      </if>
      <if test="mobileNo != null">
        MOBILE_NO,
      </if>
      <if test="tradeExpired != null">
        TRADE_EXPIRED,
      </if>
      <if test="bankName != null">
        BANK_NAME,
      </if>
      <if test="bankAccount != null">
        BANK_ACCOUNT,
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="mdseName != null">
        MDSE_NAME,
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID,
      </if>
      <if test="supplierType != null">
        SUPPLIER_TYPE,
      </if>
      <if test="refundPointAmount != null">
        REFUND_POINT_AMOUNT,
      </if>
      <if test="refundCashAmount != null">
        REFUND_CASH_AMOUNT,
      </if>
      <if test="bankUserName != null">
        BANK_USER_NAME,
      </if>
      <if test="errorCode != null">
        ERROR_CODE,
      </if>
      <if test="errorMsg != null">
        ERROR_MSG,
      </if>
      <if test="errorTime != null">
        ERROR_TIME,
      </if>
      <if test="refundMsg != null">
        REFUND_MSG,
      </if>
      <if test="refundProcessTime != null">
        REFUND_PROCESS_TIME,
      </if>
      <if test="pointAmount != null">
        POINT_AMOUNT,
      </if>
      <if test="cashAmount != null">
        CASH_AMOUNT,
      </if>
      <if test="refundLaunchTime != null">
        REFUND_LAUNCH_TIME,
      </if>
      <if test="spuCode != null">
        SPU_CODE,
      </if>
      <if test="returnGoodsItemId != null">
        RETURN_GOODS_ITEM_ID,
      </if>
      <if test="souceType != null">
        SOUCE_TYPE,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="skuCode != null">
        SKU_CODE,
      </if>
      <if test="orderItemId != null">
        ORDER_ITEM_ID,
      </if>
      <if test="couponCode != null">
        COUPON_CODE,
      </if>
      <if test="paymentNo != null">
        PAYMENT_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="batchId != null">
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null">
        #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="relateOrderId != null">
        #{relateOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="custEmail != null">
        #{custEmail,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeExpired != null">
        #{tradeExpired,jdbcType=INTEGER},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="mdseName != null">
        #{mdseName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierType != null">
        #{supplierType,jdbcType=VARCHAR},
      </if>
      <if test="refundPointAmount != null">
        #{refundPointAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundCashAmount != null">
        #{refundCashAmount,jdbcType=DECIMAL},
      </if>
      <if test="bankUserName != null">
        #{bankUserName,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="errorTime != null">
        #{errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundMsg != null">
        #{refundMsg,jdbcType=VARCHAR},
      </if>
      <if test="refundProcessTime != null">
        #{refundProcessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pointAmount != null">
        #{pointAmount,jdbcType=DECIMAL},
      </if>
      <if test="cashAmount != null">
        #{cashAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundLaunchTime != null">
        #{refundLaunchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spuCode != null">
        #{spuCode,jdbcType=VARCHAR},
      </if>
      <if test="returnGoodsItemId != null">
        #{returnGoodsItemId,jdbcType=BIGINT},
      </if>
      <if test="souceType != null">
        #{souceType,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="orderItemId != null">
        #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null">
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null">
        #{paymentNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.share.order.service.entity.RefundCertEntity">
    update t_refund_cert
    <set>
      <if test="batchId != null">
        BATCH_ID = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="createUserid != null">
        CREATE_USERID = #{createUserid,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="relateOrderId != null">
        RELATE_ORDER_ID = #{relateOrderId,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null">
        ORDER_TYPE = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="custEmail != null">
        CUST_EMAIL = #{custEmail,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null">
        MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="tradeExpired != null">
        TRADE_EXPIRED = #{tradeExpired,jdbcType=INTEGER},
      </if>
      <if test="bankName != null">
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="mdseName != null">
        MDSE_NAME = #{mdseName,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null">
        SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="supplierType != null">
        SUPPLIER_TYPE = #{supplierType,jdbcType=VARCHAR},
      </if>
      <if test="refundPointAmount != null">
        REFUND_POINT_AMOUNT = #{refundPointAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundCashAmount != null">
        REFUND_CASH_AMOUNT = #{refundCashAmount,jdbcType=DECIMAL},
      </if>
      <if test="bankUserName != null">
        BANK_USER_NAME = #{bankUserName,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null">
        ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="errorTime != null">
        ERROR_TIME = #{errorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundMsg != null">
        REFUND_MSG = #{refundMsg,jdbcType=VARCHAR},
      </if>
      <if test="refundProcessTime != null">
        REFUND_PROCESS_TIME = #{refundProcessTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pointAmount != null">
        POINT_AMOUNT = #{pointAmount,jdbcType=DECIMAL},
      </if>
      <if test="cashAmount != null">
        CASH_AMOUNT = #{cashAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundLaunchTime != null">
        REFUND_LAUNCH_TIME = #{refundLaunchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="spuCode != null">
        SPU_CODE = #{spuCode,jdbcType=VARCHAR},
      </if>
      <if test="returnGoodsItemId != null">
        RETURN_GOODS_ITEM_ID = #{returnGoodsItemId,jdbcType=BIGINT},
      </if>
      <if test="souceType != null">
        SOUCE_TYPE = #{souceType,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="skuCode != null">
        SKU_CODE = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="orderItemId != null">
        ORDER_ITEM_ID = #{orderItemId,jdbcType=VARCHAR},
      </if>
      <if test="couponCode != null">
        COUPON_CODE = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null">
        PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.share.order.service.entity.RefundCertEntity">
    update t_refund_cert
    set BATCH_ID = #{batchId,jdbcType=VARCHAR},
      CREATE_USERID = #{createUserid,jdbcType=VARCHAR},
      ORDER_ID = #{orderId,jdbcType=BIGINT},
      RELATE_ORDER_ID = #{relateOrderId,jdbcType=VARCHAR},
      ORDER_TYPE = #{orderType,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
      CUST_EMAIL = #{custEmail,jdbcType=VARCHAR},
      MOBILE_NO = #{mobileNo,jdbcType=VARCHAR},
      TRADE_EXPIRED = #{tradeExpired,jdbcType=INTEGER},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      MDSE_NAME = #{mdseName,jdbcType=VARCHAR},
      SUPPLIER_ID = #{supplierId,jdbcType=VARCHAR},
      SUPPLIER_TYPE = #{supplierType,jdbcType=VARCHAR},
      REFUND_POINT_AMOUNT = #{refundPointAmount,jdbcType=DECIMAL},
      REFUND_CASH_AMOUNT = #{refundCashAmount,jdbcType=DECIMAL},
      BANK_USER_NAME = #{bankUserName,jdbcType=VARCHAR},
      ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
      ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
      ERROR_TIME = #{errorTime,jdbcType=TIMESTAMP},
      REFUND_MSG = #{refundMsg,jdbcType=VARCHAR},
      REFUND_PROCESS_TIME = #{refundProcessTime,jdbcType=TIMESTAMP},
      POINT_AMOUNT = #{pointAmount,jdbcType=DECIMAL},
      CASH_AMOUNT = #{cashAmount,jdbcType=DECIMAL},
      REFUND_LAUNCH_TIME = #{refundLaunchTime,jdbcType=TIMESTAMP},
      SPU_CODE = #{spuCode,jdbcType=VARCHAR},
      RETURN_GOODS_ITEM_ID = #{returnGoodsItemId,jdbcType=BIGINT},
      SOUCE_TYPE = #{souceType,jdbcType=INTEGER},
      ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      SKU_CODE = #{skuCode,jdbcType=VARCHAR},
      ORDER_ITEM_ID = #{orderItemId,jdbcType=VARCHAR},
      COUPON_CODE = #{couponCode,jdbcType=VARCHAR},
      PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>