<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.share.order.service.dao.LogisticsInfoEntityMapper">
  <resultMap id="BaseResultMap" type="com.mk.share.order.service.entity.LogisticsInfoEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="DELIVERY_NO" jdbcType="VARCHAR" property="deliveryNo" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="RECEIVER_MOBILE" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="RECEIVER_ADDRESS" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="LOGISTICS_COMPANY_NAME" jdbcType="VARCHAR" property="logisticsCompanyName" />
    <result column="LOGISTICS_COMPANY_CODE" jdbcType="VARCHAR" property="logisticsCompanyCode" />
    <result column="DISTRIBUTION_TIME" jdbcType="TIMESTAMP" property="distributionTime" />
    <result column="PROVINCE_DESCRIPTION" jdbcType="VARCHAR" property="provinceDescription" />
    <result column="CITY_DESCRIPTION" jdbcType="VARCHAR" property="cityDescription" />
    <result column="AREA_DESCRIPTION" jdbcType="VARCHAR" property="areaDescription" />
    <result column="DISTRIBUTION_MODE" jdbcType="INTEGER" property="distributionMode" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="DISTRIBUTION_STATUS" jdbcType="INTEGER" property="distributionStatus" />
    <result column="DISTRIBUTION_REMARK" jdbcType="VARCHAR" property="distributionRemark" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DELIVERY_NO, EMAIL, PROVINCE_CODE, CITY_CODE, RECEIVER_MOBILE, RECEIVER_ADDRESS, 
    RECEIVER_NAME, LOGISTICS_COMPANY_NAME, LOGISTICS_COMPANY_CODE, DISTRIBUTION_TIME, 
    PROVINCE_DESCRIPTION, CITY_DESCRIPTION, AREA_DESCRIPTION, DISTRIBUTION_MODE, ORDER_CODE, 
    DISTRIBUTION_STATUS, DISTRIBUTION_REMARK, AREA_CODE, ZIP_CODE, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_logistics_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_logistics_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    insert into t_logistics_info (ID, DELIVERY_NO, EMAIL, 
      PROVINCE_CODE, CITY_CODE, RECEIVER_MOBILE, 
      RECEIVER_ADDRESS, RECEIVER_NAME, LOGISTICS_COMPANY_NAME, 
      LOGISTICS_COMPANY_CODE, DISTRIBUTION_TIME, 
      PROVINCE_DESCRIPTION, CITY_DESCRIPTION, AREA_DESCRIPTION, 
      DISTRIBUTION_MODE, ORDER_CODE, DISTRIBUTION_STATUS, 
      DISTRIBUTION_REMARK, AREA_CODE, ZIP_CODE, 
      CREATE_DATE)
    values (#{id,jdbcType=BIGINT}, #{deliveryNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{logisticsCompanyName,jdbcType=VARCHAR}, 
      #{logisticsCompanyCode,jdbcType=VARCHAR}, #{distributionTime,jdbcType=TIMESTAMP}, 
      #{provinceDescription,jdbcType=VARCHAR}, #{cityDescription,jdbcType=VARCHAR}, #{areaDescription,jdbcType=VARCHAR}, 
      #{distributionMode,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{distributionStatus,jdbcType=INTEGER}, 
      #{distributionRemark,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    insert into t_logistics_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="deliveryNo != null">
        DELIVERY_NO,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="receiverMobile != null">
        RECEIVER_MOBILE,
      </if>
      <if test="receiverAddress != null">
        RECEIVER_ADDRESS,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="logisticsCompanyName != null">
        LOGISTICS_COMPANY_NAME,
      </if>
      <if test="logisticsCompanyCode != null">
        LOGISTICS_COMPANY_CODE,
      </if>
      <if test="distributionTime != null">
        DISTRIBUTION_TIME,
      </if>
      <if test="provinceDescription != null">
        PROVINCE_DESCRIPTION,
      </if>
      <if test="cityDescription != null">
        CITY_DESCRIPTION,
      </if>
      <if test="areaDescription != null">
        AREA_DESCRIPTION,
      </if>
      <if test="distributionMode != null">
        DISTRIBUTION_MODE,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="distributionStatus != null">
        DISTRIBUTION_STATUS,
      </if>
      <if test="distributionRemark != null">
        DISTRIBUTION_REMARK,
      </if>
      <if test="areaCode != null">
        AREA_CODE,
      </if>
      <if test="zipCode != null">
        ZIP_CODE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deliveryNo != null">
        #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyName != null">
        #{logisticsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null">
        #{logisticsCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionTime != null">
        #{distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceDescription != null">
        #{provinceDescription,jdbcType=VARCHAR},
      </if>
      <if test="cityDescription != null">
        #{cityDescription,jdbcType=VARCHAR},
      </if>
      <if test="areaDescription != null">
        #{areaDescription,jdbcType=VARCHAR},
      </if>
      <if test="distributionMode != null">
        #{distributionMode,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionStatus != null">
        #{distributionStatus,jdbcType=INTEGER},
      </if>
      <if test="distributionRemark != null">
        #{distributionRemark,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    update t_logistics_info
    <set>
      <if test="deliveryNo != null">
        DELIVERY_NO = #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyName != null">
        LOGISTICS_COMPANY_NAME = #{logisticsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null">
        LOGISTICS_COMPANY_CODE = #{logisticsCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionTime != null">
        DISTRIBUTION_TIME = #{distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceDescription != null">
        PROVINCE_DESCRIPTION = #{provinceDescription,jdbcType=VARCHAR},
      </if>
      <if test="cityDescription != null">
        CITY_DESCRIPTION = #{cityDescription,jdbcType=VARCHAR},
      </if>
      <if test="areaDescription != null">
        AREA_DESCRIPTION = #{areaDescription,jdbcType=VARCHAR},
      </if>
      <if test="distributionMode != null">
        DISTRIBUTION_MODE = #{distributionMode,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionStatus != null">
        DISTRIBUTION_STATUS = #{distributionStatus,jdbcType=INTEGER},
      </if>
      <if test="distributionRemark != null">
        DISTRIBUTION_REMARK = #{distributionRemark,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    update t_logistics_info
    set DELIVERY_NO = #{deliveryNo,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      LOGISTICS_COMPANY_NAME = #{logisticsCompanyName,jdbcType=VARCHAR},
      LOGISTICS_COMPANY_CODE = #{logisticsCompanyCode,jdbcType=VARCHAR},
      DISTRIBUTION_TIME = #{distributionTime,jdbcType=TIMESTAMP},
      PROVINCE_DESCRIPTION = #{provinceDescription,jdbcType=VARCHAR},
      CITY_DESCRIPTION = #{cityDescription,jdbcType=VARCHAR},
      AREA_DESCRIPTION = #{areaDescription,jdbcType=VARCHAR},
      DISTRIBUTION_MODE = #{distributionMode,jdbcType=INTEGER},
      ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      DISTRIBUTION_STATUS = #{distributionStatus,jdbcType=INTEGER},
      DISTRIBUTION_REMARK = #{distributionRemark,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mk.share.order.service.entity.LogisticsInfoEntity">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="DELIVERY_NO" jdbcType="VARCHAR" property="deliveryNo" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="RECEIVER_MOBILE" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="RECEIVER_ADDRESS" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="LOGISTICS_COMPANY_NAME" jdbcType="VARCHAR" property="logisticsCompanyName" />
    <result column="LOGISTICS_COMPANY_CODE" jdbcType="VARCHAR" property="logisticsCompanyCode" />
    <result column="DISTRIBUTION_TIME" jdbcType="TIMESTAMP" property="distributionTime" />
    <result column="PROVINCE_DESCRIPTION" jdbcType="VARCHAR" property="provinceDescription" />
    <result column="CITY_DESCRIPTION" jdbcType="VARCHAR" property="cityDescription" />
    <result column="AREA_DESCRIPTION" jdbcType="VARCHAR" property="areaDescription" />
    <result column="DISTRIBUTION_MODE" jdbcType="INTEGER" property="distributionMode" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="DISTRIBUTION_STATUS" jdbcType="INTEGER" property="distributionStatus" />
    <result column="DISTRIBUTION_REMARK" jdbcType="VARCHAR" property="distributionRemark" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DELIVERY_NO, EMAIL, PROVINCE_CODE, CITY_CODE, RECEIVER_MOBILE, RECEIVER_ADDRESS, 
    RECEIVER_NAME, LOGISTICS_COMPANY_NAME, LOGISTICS_COMPANY_CODE, DISTRIBUTION_TIME, 
    PROVINCE_DESCRIPTION, CITY_DESCRIPTION, AREA_DESCRIPTION, DISTRIBUTION_MODE, ORDER_CODE, 
    DISTRIBUTION_STATUS, DISTRIBUTION_REMARK, AREA_CODE, ZIP_CODE, CREATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ssc_logistics_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_ssc_logistics_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    insert into t_ssc_logistics_info (ID, DELIVERY_NO, EMAIL, 
      PROVINCE_CODE, CITY_CODE, RECEIVER_MOBILE, 
      RECEIVER_ADDRESS, RECEIVER_NAME, LOGISTICS_COMPANY_NAME, 
      LOGISTICS_COMPANY_CODE, DISTRIBUTION_TIME, 
      PROVINCE_DESCRIPTION, CITY_DESCRIPTION, AREA_DESCRIPTION, 
      DISTRIBUTION_MODE, ORDER_CODE, DISTRIBUTION_STATUS, 
      DISTRIBUTION_REMARK, AREA_CODE, ZIP_CODE, 
      CREATE_DATE)
    values (#{id,jdbcType=BIGINT}, #{deliveryNo,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{logisticsCompanyName,jdbcType=VARCHAR}, 
      #{logisticsCompanyCode,jdbcType=VARCHAR}, #{distributionTime,jdbcType=TIMESTAMP}, 
      #{provinceDescription,jdbcType=VARCHAR}, #{cityDescription,jdbcType=VARCHAR}, #{areaDescription,jdbcType=VARCHAR}, 
      #{distributionMode,jdbcType=INTEGER}, #{orderCode,jdbcType=VARCHAR}, #{distributionStatus,jdbcType=INTEGER}, 
      #{distributionRemark,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    insert into t_ssc_logistics_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="deliveryNo != null">
        DELIVERY_NO,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="receiverMobile != null">
        RECEIVER_MOBILE,
      </if>
      <if test="receiverAddress != null">
        RECEIVER_ADDRESS,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="logisticsCompanyName != null">
        LOGISTICS_COMPANY_NAME,
      </if>
      <if test="logisticsCompanyCode != null">
        LOGISTICS_COMPANY_CODE,
      </if>
      <if test="distributionTime != null">
        DISTRIBUTION_TIME,
      </if>
      <if test="provinceDescription != null">
        PROVINCE_DESCRIPTION,
      </if>
      <if test="cityDescription != null">
        CITY_DESCRIPTION,
      </if>
      <if test="areaDescription != null">
        AREA_DESCRIPTION,
      </if>
      <if test="distributionMode != null">
        DISTRIBUTION_MODE,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="distributionStatus != null">
        DISTRIBUTION_STATUS,
      </if>
      <if test="distributionRemark != null">
        DISTRIBUTION_REMARK,
      </if>
      <if test="areaCode != null">
        AREA_CODE,
      </if>
      <if test="zipCode != null">
        ZIP_CODE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deliveryNo != null">
        #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyName != null">
        #{logisticsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null">
        #{logisticsCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionTime != null">
        #{distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceDescription != null">
        #{provinceDescription,jdbcType=VARCHAR},
      </if>
      <if test="cityDescription != null">
        #{cityDescription,jdbcType=VARCHAR},
      </if>
      <if test="areaDescription != null">
        #{areaDescription,jdbcType=VARCHAR},
      </if>
      <if test="distributionMode != null">
        #{distributionMode,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionStatus != null">
        #{distributionStatus,jdbcType=INTEGER},
      </if>
      <if test="distributionRemark != null">
        #{distributionRemark,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    update t_ssc_logistics_info
    <set>
      <if test="deliveryNo != null">
        DELIVERY_NO = #{deliveryNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null">
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null">
        RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null">
        RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyName != null">
        LOGISTICS_COMPANY_NAME = #{logisticsCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompanyCode != null">
        LOGISTICS_COMPANY_CODE = #{logisticsCompanyCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionTime != null">
        DISTRIBUTION_TIME = #{distributionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceDescription != null">
        PROVINCE_DESCRIPTION = #{provinceDescription,jdbcType=VARCHAR},
      </if>
      <if test="cityDescription != null">
        CITY_DESCRIPTION = #{cityDescription,jdbcType=VARCHAR},
      </if>
      <if test="areaDescription != null">
        AREA_DESCRIPTION = #{areaDescription,jdbcType=VARCHAR},
      </if>
      <if test="distributionMode != null">
        DISTRIBUTION_MODE = #{distributionMode,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null">
        ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="distributionStatus != null">
        DISTRIBUTION_STATUS = #{distributionStatus,jdbcType=INTEGER},
      </if>
      <if test="distributionRemark != null">
        DISTRIBUTION_REMARK = #{distributionRemark,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.share.order.service.entity.LogisticsInfoEntity">
    update t_ssc_logistics_info
    set DELIVERY_NO = #{deliveryNo,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      RECEIVER_MOBILE = #{receiverMobile,jdbcType=VARCHAR},
      RECEIVER_ADDRESS = #{receiverAddress,jdbcType=VARCHAR},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      LOGISTICS_COMPANY_NAME = #{logisticsCompanyName,jdbcType=VARCHAR},
      LOGISTICS_COMPANY_CODE = #{logisticsCompanyCode,jdbcType=VARCHAR},
      DISTRIBUTION_TIME = #{distributionTime,jdbcType=TIMESTAMP},
      PROVINCE_DESCRIPTION = #{provinceDescription,jdbcType=VARCHAR},
      CITY_DESCRIPTION = #{cityDescription,jdbcType=VARCHAR},
      AREA_DESCRIPTION = #{areaDescription,jdbcType=VARCHAR},
      DISTRIBUTION_MODE = #{distributionMode,jdbcType=INTEGER},
      ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      DISTRIBUTION_STATUS = #{distributionStatus,jdbcType=INTEGER},
      DISTRIBUTION_REMARK = #{distributionRemark,jdbcType=VARCHAR},
      AREA_CODE = #{areaCode,jdbcType=VARCHAR},
      ZIP_CODE = #{zipCode,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>