<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.share.order.service.dao.OrderPaymentEntityMapper" >
  <resultMap id="BaseResultMap" type="com.mk.share.order.service.entity.OrderPaymentEntity" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORDER_HEAD_CODE" property="orderHeadCode" jdbcType="VARCHAR" />
    <result column="PAYMENT_NO" property="paymentNo" jdbcType="VARCHAR" />
    <result column="CX_CARD_NO" property="cxCardNo" jdbcType="VARCHAR" />
    <result column="PAY_AMOUNT" property="payAmount" jdbcType="DECIMAL" />
    <result column="PAYMENT_TIME" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="PAY_CHANNEL" property="payChannel" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COUPON_CODE" property="couponCode" jdbcType="VARCHAR" />
    <result column="PAY_TYPE" property="payType" jdbcType="INTEGER" />
    <result column="PUSH_CLEARING_FLAG" property="pushClearingFlag" jdbcType="INTEGER" />
    <result column="REVERSE_FLAG" property="reverseFlag" jdbcType="INTEGER" />
    <result column="IS_DISABLE" property="isDisable" jdbcType="INTEGER" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_HEAD_CODE, PAYMENT_NO, CX_CARD_NO, PAY_AMOUNT, PAYMENT_TIME, PAY_CHANNEL, 
    CREATE_TIME, COUPON_CODE, PAY_TYPE, PUSH_CLEARING_FLAG, REVERSE_FLAG, IS_DISABLE, 
    PAY_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_ssc_order_payment
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_ssc_order_payment
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.share.order.service.entity.OrderPaymentEntity" >
    insert into t_ssc_order_payment (ID, ORDER_HEAD_CODE, PAYMENT_NO, 
      CX_CARD_NO, PAY_AMOUNT, PAYMENT_TIME, 
      PAY_CHANNEL, CREATE_TIME, COUPON_CODE, 
      PAY_TYPE, PUSH_CLEARING_FLAG, REVERSE_FLAG, 
      IS_DISABLE, PAY_STATUS)
    values (#{id,jdbcType=BIGINT}, #{orderHeadCode,jdbcType=VARCHAR}, #{paymentNo,jdbcType=VARCHAR}, 
      #{cxCardNo,jdbcType=VARCHAR}, #{payAmount,jdbcType=DECIMAL}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{payChannel,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{couponCode,jdbcType=VARCHAR}, 
      #{payType,jdbcType=INTEGER}, #{pushClearingFlag,jdbcType=INTEGER}, #{reverseFlag,jdbcType=INTEGER}, 
      #{isDisable,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.share.order.service.entity.OrderPaymentEntity" >
    insert into t_ssc_order_payment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderHeadCode != null" >
        ORDER_HEAD_CODE,
      </if>
      <if test="paymentNo != null" >
        PAYMENT_NO,
      </if>
      <if test="cxCardNo != null" >
        CX_CARD_NO,
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT,
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME,
      </if>
      <if test="payChannel != null" >
        PAY_CHANNEL,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="couponCode != null" >
        COUPON_CODE,
      </if>
      <if test="payType != null" >
        PAY_TYPE,
      </if>
      <if test="pushClearingFlag != null" >
        PUSH_CLEARING_FLAG,
      </if>
      <if test="reverseFlag != null" >
        REVERSE_FLAG,
      </if>
      <if test="isDisable != null" >
        IS_DISABLE,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderHeadCode != null" >
        #{orderHeadCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null" >
        #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="cxCardNo != null" >
        #{cxCardNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponCode != null" >
        #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="pushClearingFlag != null" >
        #{pushClearingFlag,jdbcType=INTEGER},
      </if>
      <if test="reverseFlag != null" >
        #{reverseFlag,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.share.order.service.entity.OrderPaymentEntity" >
    update t_ssc_order_payment
    <set >
      <if test="orderHeadCode != null" >
        ORDER_HEAD_CODE = #{orderHeadCode,jdbcType=VARCHAR},
      </if>
      <if test="paymentNo != null" >
        PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      </if>
      <if test="cxCardNo != null" >
        CX_CARD_NO = #{cxCardNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        PAY_CHANNEL = #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="couponCode != null" >
        COUPON_CODE = #{couponCode,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        PAY_TYPE = #{payType,jdbcType=INTEGER},
      </if>
      <if test="pushClearingFlag != null" >
        PUSH_CLEARING_FLAG = #{pushClearingFlag,jdbcType=INTEGER},
      </if>
      <if test="reverseFlag != null" >
        REVERSE_FLAG = #{reverseFlag,jdbcType=INTEGER},
      </if>
      <if test="isDisable != null" >
        IS_DISABLE = #{isDisable,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null" >
        PAY_STATUS = #{payStatus,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.share.order.service.entity.OrderPaymentEntity" >
    update t_ssc_order_payment
    set ORDER_HEAD_CODE = #{orderHeadCode,jdbcType=VARCHAR},
      PAYMENT_NO = #{paymentNo,jdbcType=VARCHAR},
      CX_CARD_NO = #{cxCardNo,jdbcType=VARCHAR},
      PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      PAYMENT_TIME = #{paymentTime,jdbcType=TIMESTAMP},
      PAY_CHANNEL = #{payChannel,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      COUPON_CODE = #{couponCode,jdbcType=VARCHAR},
      PAY_TYPE = #{payType,jdbcType=INTEGER},
      PUSH_CLEARING_FLAG = #{pushClearingFlag,jdbcType=INTEGER},
      REVERSE_FLAG = #{reverseFlag,jdbcType=INTEGER},
      IS_DISABLE = #{isDisable,jdbcType=INTEGER},
      PAY_STATUS = #{payStatus,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>